services:
  db:
    image: postgres:18
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - db_dev:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

volumes:
  db_dev:
