

.NavBar {
  
  margin-left: auto;
  margin-right: 3vmin;
  align-items: center;
  float: right;
  display: flex;
  width: 70vmin;
}

.MenuLinks {
  
  
  width: 100px;
  background-color: #282c34;
  color: white;
  border-style: hidden;
  padding: 1vmin;
  transition: 0.4s;

}
.DropDown {
  display: none;

  
}
.IconBar {
  width: 35px;
  height: 3px;
  background-color: #868686;
  margin: 6px 0;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 10px;
}

.active, .MenuLinks:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.Logo {
  flex: 1;
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 1080px) {
  .NavBar {
    
    justify-content: right;

  }
  
  .MenuLinks {
    display: none;
  }
  .DropDown {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: #c5c5c5;
    border-radius: 5px;
  }
}

.DropDown:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
